.input-container{
	position: relative;
	width: auto;
	height:	85px ;
	display: block;
}

.input-label{
	position:absolute;
	top: 0;
	font-size: 1.2em;
}

.input-space{
	position: absolute;
	bottom: 0;
	height: 50px;
	width: 100%;
	outline: none;
	border: none;
	color: white;
	background-color: var(--primary);
	padding:0 10px 0 10px;
	border-radius: 5px;
	font-size: 1.2em;
}

.input-space:focus{
	border: solid 2px var(--accent);
	background-color: var(--input);
	border-radius: 5px;
}

/* CHECKBOX */

input[type=checkbox] + label {
	display: block;
	margin: 0.2em;
	cursor: pointer;
	padding: 0.2em;
}

input[type=checkbox] {
	display: none;
}

input[type=checkbox] + label:before {
	content: "\2714";
	background-color: var(--primary);
	border: 0.1em solid var(--primary);
	border-radius: 0.2em;
	display: inline-block;
	width: 1em;
	height: 1em;
	padding-left: 0.2em;
	padding-bottom: 0.3em;
	margin-right: 0.2em;
	vertical-align: bottom;
	color: transparent;
	transition: .2s;
}


input[type=checkbox] + label:active:before {
	transform: scale(0);
}

input[type=checkbox]:checked + label:before {
	background-color: var(--accent2);
	border-color: var(--accent);
	color: var(--text);
}

input[type=checkbox]:disabled + label:before {
	transform: scale(1);
	border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
	transform: scale(1);
	background-color: #bfb;
	border-color: #bfb;
}