/* MAIN */
.header {
  position: sticky;
  display: flex;
  top: 0;
  z-index: 2;
  background-color: var(--header);
  height: 65px;
}

/* STEAM LOGIN */
.login-btn {
  position: absolute;
  color: var(--text);
  right: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: var(--primary);
  transition: 0.5s;
  width: 140px;
  height: 48px;
  top: 50%;
  border-radius: 8px;
  transform: translateY(-50%);
}

.steam-login-img {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
}
.steam-login-text {
  pointer-events: none;
  position: absolute;
  font-size: 1rem;
  font-weight: 600;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
}

.login-btn:hover {
  background-color: var(--secondary);
  color: var(--accent);
  transition: 0.5s;
}

/* PROFILE */
.profile-btn{
  position: absolute;
  color: var(--text);
  right: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: var(--accent2);
  transition: 0.5s;
  width: 42px;
  height: 42px;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
}

.sb-avatar{
  position: absolute;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
}

.profile-menu{
  z-index: 1;
  display: none;
  position: absolute;
  width: 350px;
  height: 200px;
  top: 65px;
  right: 10px;
  background-color: var(--secondary); 
  border-bottom: 1px solid var(--hover);
  border-left: 1px solid var(--hover);
  border-right: 1px solid var(--hover);
}

.profile-menu.active{
  display: flex;
  flex-direction: column;
}

.profile-info{
  position: relative;
  background-color: var(--secondary);
  top: 0;
  width: 100%;
  height: 65px;
}

.profile-avatar{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

.profile-name{
  position: absolute;
  top: 20%;
  color: var(--text);
  left: 60px;
  font-size: 1.2em;
  transform: translateY(-20%);
}

.profile-rcoins{
  position: absolute;
  top: 80%;
  left: 60px;
  font-size: 1em;
  color: var(--text2);
  transform: translateY(-80%);
}

.button-container{
  background-color: var(--secondary);
  position: relative;
  display: flex;
  height: calc(100%-65px);
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.button-container a{
  position: relative;
  width: 100%;
  height: 50px;
  color: var(--text);
  outline: none;
  border: none;
  background-color: var(--secondary);
  cursor: pointer;
}

.button-container a:hover{
  background-color: var(--hover);
  color: var(--accent2);
} 

.button-container a img{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

.button-container a label{
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
}






/* LOGO */
.rgngs-logo {
  position: absolute;
  height: 80px;
  top: 50%;
  left: 5px;
  width: 300px;
  transform: translateY(-50%);
}

@media screen and (max-width: 400px){
  .rgngs-logo{
    height: 60px;
    width: 200px;
  }
}

