

/* MAIN */
.header{
    position: relative;
    display: flex;
    background-color: var(--header);
    height: 65px;
}




/* STEAM LOGIN */
.login-btn{
    position: absolute;
    color: var(--text);
    right: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--primary);
    transition: 0.5s;
    width: 140px;
    height: 48px;
    top: 50%;
    border-radius: 8px;
    transform: translateY(-50%);
}

.steam-login-img{
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
}

.steam-login-text{
    position: absolute;
    font-size: 1rem;
    font-weight: 600;
    top: 50%;   
    left: 50px;
    transform: translateY(-50%);
}

.login-btn:hover{
    background-color: var(--secondary);
    color: var(--accent);
    transition: 0.5s;
}

/* LOGO */

.rgngs-logo{
    position: absolute;
    height: 100px;
    top: 50%;
    width: 450px;
    left: 50%;
    transform: translate(-50%, -50%);
 
}


/* HAMBURGER MENU */
.hamburger-menu{
    position: absolute;
    top: 50%;
    left: 10px;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    outline: none;
    border: none;
    transform: translateY(-50%);
}

.header-menu{
    display: none;
}