
/* MAIN CODE */
 .footer {
  z-index: 1;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  bottom: auto;
  padding: 10px;
  height: 80px;
  width: 100%;
  background-color: var(--secondary);
  border-top: solid 2px var(--accent);
  color: white;
  text-align: center;
 }


/* LOGO */
.footer-logo-container{
  display: flex;
  width: 30%;
  height: auto;
  align-items: center;
  justify-content: flex-start;
}
.footer-logo{
  margin-left: 15px;
}
/* INFO */
.footer-info-container{
  display: flex;
  height: auto;
  color: var(--text2);
  align-items: center;
  justify-content: center;
  margin: 5px 5px 5px 5px;
  width: 50%;
  font-size: 0.9em;
}

/* LINKS */
.footer-links-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 30%;
 }

.footer-links-container li,a{
  list-style: none;
  margin-right: 10px;
}

.footer-links-container li a, a{
  color: var(--text);
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
}

.footer-links-container li a:hover{
  color: var(--accent);
}

.footer-links-container  a:hover{
  color: var(--accent);
}


 @media screen and (max-width: 1100px){
  .footer{
    flex-direction: column;
    height: auto;
  }
  .footer-info-container{
    margin-top: 20px;
    width: auto;
  }
  .footer-logo-container{
    align-items: center;
    justify-content: center;
  }

  .footer-links-container{
    margin-top: 20px;
    width: auto;
    align-items: center;
    justify-content: center;
  }
}



