@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* THEME */
:root {
    --header: rgb(60, 61, 68);
    --primary: rgb(48, 49, 54);
    --hover: rgb(84, 86, 95);
    --background: rgb(27,27,29);
    --secondary: rgb(36, 37, 41);
    --accent: rgba(52, 152, 219,50%);
    --accent2: rgb(52, 152, 219);
    --text: rgb(255,255,255);
    --text2: rgb(200,200,200)
    
}

/* MAIN */

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    padding: 0;
}

