
.forms-container{
 min-width: 400px;
 position: relative;
 z-index: 1;
 margin: 15px 0 15px 0px;
 padding: 15px 5px 15px 5px;
 border-radius: 12px;
 left: 50%;
 background-color: var(--secondary);
 min-height: calc(100vh - 65px);
 width: 50%;
 transform: translateX(-50%);
}
.main-form div{
 margin: 5% 25px 0 25px;
}

.forms-main-text{
 font-size: 2.5em;
 text-align: center;
 color: var(--accent2);
}

.forms-info{
 font-size: 1em;
 color: var(--red);
}

.forms-accept-div{
 display: flex;
 align-items: center;
 justify-content: center;
 height: 50px;
}

.forms-accept{
 background-color: var(--accent);
 outline: none;
 border: none;
 color: var(--text2);
 border-radius: 25px;
 width:  40%;
 height: 100%;
 font-size: 2em;
 transition: 0.2s;
}

.forms-accept:hover{
 background-color: var(--accent2);
 cursor: pointer;
 transition: 0.2s;
 color: var(--text);
}

/* INPUTS */

.input-container{
	position: relative;
	width: auto;
	height:	85px ;
	display: block;
}

.input-label{
	position:absolute;
	top: 0;
	font-size: 1.2em;
}

.input-space{
	position: absolute;
	bottom: 0;
	height: 50px;
	width: 100%;
	outline: none;
	border: none;
	color: white;
	background-color: var(--primary);
	padding:0 10px 0 10px;
	border-radius: 5px;
	font-size: 1.2em;
}

.input-space:focus{
	border: solid 2px var(--accent);
	background-color: var(--input);
	border-radius: 5px;
}


/* PAYMENT */
.paymentContainer{
	display: flex;
	flex-direction: column;
	

}
.paymentContainer label{
	font-size: 1.2em;
	margin-bottom: 15px;
}

.paymentSelect{
	background-color: var(--input);
	color: var(--text2);
	height: 32px;
	padding-left: 10px;
	font-size: 1em;
	outline: none;
	border: none;
	text-decoration: none;
	-webkit-appearance: none;
 	-moz-appearance: none;
 	appearance: none;    
	border-radius: 5px;
	background-image: url("../../assets/arrow.png");
	background-position: right 10px top 50%;
	background-repeat: no-repeat;
	background-size: 16px;
}

.paymentSelect:hover{
	cursor: pointer;	
	background-color: var(--header)
}

/* CHECKBOX */
.checkbox-container {
	display: flex;
	align-items: center;
}

.checkbox-container label {
	display: flex;
}

.checkbox-container input[type='checkbox'] {
	cursor: pointer;
	opacity: 0;
	position: absolute;
}

.checkbox-container label::before {
	content: '';
	width: 1em;
	height: 1em;
	border-radius: .15em;
	margin-right: .5em;
	border: .05em solid var(--text2);
}

.checkbox-container input[type='checkbox']:hover + label::before {
	background-color: var(--accent);
}


.checkbox-container input[type='checkbox']:disabled + label{
	color: #aaa;
	cursor: default;
}

.checkbox-container input[type='checkbox']:checked + label::before {
	content: '\002714';
	background-color: var(--accent2);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.checkbox-container input[type='checkbox']:disabled + label::before {
	background-color: #ccc;
	border-color: #999;
}